services:
  broker:
    image: apache/kafka:latest
    hostname: broker
    container_name: broker
    ports:
      - 9092:9092
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://broker:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_NODE_ID: 1
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@broker:29093
      KAFKA_LISTENERS: PLAINTEXT://broker:29092,CONTROLLER://broker:29093,PLAINTEXT_HOST://0.0.0.0:9092
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LOG_DIRS: /tmp/kraft-combined-logs
      CLUSTER_ID: MkU3OEVBNTcwNTJENDM2Qk
      KAFKA_MESSAGE_MAX_BYTES: 15728640
      KAFKA_REPLICA_FETCH_MAX_BYTES: 15728640
      KAFKA_MAX_REQUEST_SIZE: 15728640
      KAFKA_SOCKET_REQUEST_MAX_BYTES: 16777216
      KAFKA_REPLICA_FETCH_RESPONSE_MAX_BYTES: 16777216
  scylla-node1:
    container_name: scylla
    hostname: scylla-node1
    image: scylladb/scylla:latest
    command: --seeds=scylla-node1 --smp 1 --memory 750M
    restart: unless-stopped
    # volumes:
    #   - "./config/scylla.yaml:/etc/scylla/scylla.yaml"
    #   - "./config/cassandra-rackdc.properties:/etc/scylla/cassandra-rackdc.properties"
    #   - "/etc/localtime:/etc/localtime:ro" # Sync the container's timezone with the host
    #   - "./certs:/etc/scylla/certs"
      # - "./config/cqlshrc:/root/.cassandra/cqlshrc"
    ports:
      - 9042:9042 # Use this port for the Cassandra native protocol
    networks:
      vnet:
  minio:
    image: quay.io/minio/minio:latest 
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001" 
    environment:
      MINIO_ROOT_USER: minioadmin 
      MINIO_ROOT_PASSWORD: minioadmin 
    volumes:
      - ./minio/data:/data 
    command: server /data --console-address ":9001" 
    healthcheck:
      test: ["CMD", "mc", "ready", "local"]
      interval: 5s
      timeout: 5s
      retries: 5
  nats:
    image: nats:latest
    container_name: nats
    ports:
      - "4222:4222"  
      - "8222:8222" 


volumes:
  minio_data:


networks:
  vnet:
    driver: bridge